<section class="subscribe">
    <div class="subscribe__container container">
        <h2 class="section-title">Subscribe</h2>
        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>

        <form action="#" class="subscribe__form form form_single-field">
            <input type="email" class="form__input form__input_single" placeholder="Your Email">
            <input type="submit" class="form__submit form__submit_single" value="Subscribe">
        </form>
    </div>
</section>