.subscribe {
    color: $apricot;
    background-image: url(../img/corner-left.png), 
        url(../img/corner-right.png),
        url(../img/wave-black.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0, 0 100%;
    background-size: 30%, 30%, contain;
    background-color: $white;
    text-align: center;
    position: relative;

    &:before {
        @media screen and (min-width: $tablet) {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: url(../img/roll.png), 
                url(../img/caviar.png),
                url(../img/shrimp.png);
            background-repeat: no-repeat;
            background-position: 2% 15%, 98% 11%, 30% 87%;
            background-size: 8%;
        }

        @media screen and (min-width: $l-desktop) {
            background-size: auto;
        }
    }

    &__container {
        padding-bottom: 11em;

        @media screen and (min-width: $tablet) {
            padding-bottom: 18em;
        }

        @media screen and (min-width: $desktop) {
            padding-bottom: 22em;
        }

        @media screen and (min-width: $l-desktop) {
            padding-bottom: 30em;
        }
    }

    &__form {
        margin: 3em auto 0;
        max-width: 40em;

        @media screen and (min-width: $tablet) {
            margin-top: 5em;
            max-width: 50em;
        }

        @media screen and (min-width: $desktop) {
            max-width: 60em;
        }

        @media screen and (min-width: $l-desktop) {
            margin-top: 6em;
            max-width: 66em;
        }
    }
}