.best-sellers {
    color: $white;
    text-align: center;
    padding-top: 11rem;
    margin-top: -20vw; // the combination of padding and negative margin 
                       // allows to smoothly move the block up as the viewport expands

    @media screen and (min-width: $tablet) {
        padding-top: 12rem;
    }

    @media screen and (min-width: $desktop) {
        background-image: url(../img/rice.png), url(../img/caviar.png);
        background-repeat: no-repeat;
        background-position: 0 45%, 98% 40%;
        background-size: 8%;
        padding-top: 16rem;
    }

    @media screen and (min-width: $l-desktop) {
        background-size: auto;
        background-position: 0 55%, 99% 45%;
        padding-top: 17rem;
    }

    // .best-sellers__container
    &__container {
        padding-top: 0;
    }

    // .best-sellers__title
    &__title {
        @media screen and (min-width: $tablet) {
            padding-left: 0.5em; // makes the title looking visually better
        }
    }

    // .best-sellers__description
    &__description {
    }

    // .best-sellers__list
    &__list {
        margin: 2rem auto 0;

        @media screen and (min-width: $tablet) {
            margin: 3rem auto 0;
        }

        @media screen and (min-width: $desktop) {
            margin: 8rem auto 0;
        }
    }
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;
    }

    // .product-list__column
    &__column {
        text-align: center;
        max-width: 30rem;
        margin: 0 0 2rem;

        &:last-child {
            margin: 0;
        }

        @media screen and (min-width: $tablet) {
            margin: 0 5% 0 0;

            &:last-child {
                margin: 0;
            }
        }

        @media screen and (min-width: $l-desktop) {
            margin: 0 8% 0 0;
        }
    }

    // .product-list__item-pic
    &__item-pic {
        width: 100%;

        @media screen and (min-width: $desktop) {
            width: 80%;
        }
    }

    // .product-list__item-name
    &__item-name {
        font-size: 1.8em; // 18px
        margin: -0.5em 0 1em; // - 9px 0 18px

        @media screen and (min-width: $tablet) {
            font-size: 2.3em; // 23px
            margin: 0 0 0.65em; // 15px
        }

        @media screen and (min-width: $desktop) {
            font-size: 2.8em; //28px
        }
    }

    // .product-list__item-link
    &__item-link {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    // .product-list__item-description
    &__item-description {
        font-size: 1.2em; //12px
        line-height: 1.5;
        margin: 1em 0 0; // 12px

        @media screen and (min-width: $tablet) {
            font-size: 1.5em; // 15px
        }

        @media screen and (min-width: $desktop) {
            font-size: 1.7em; //17px
        }
    }
}
