.best-sellers {
    color: $white;
    text-align: center;
    margin-top: -13em;

    @media screen and (min-width: $desktop) {
        margin-top: -10em;
        background-image: url(../img/rice.png), url(../img/caviar.png);
        background-repeat: no-repeat;
        background-position: 0 30%, 99% 22%;
        background-size: 8%;
    }

    @media screen and (min-width: $l-desktop) {
        background-size: auto;
        background-position: 0 35%, 99% 25%;
    }

    // .best-sellers__container
    &__container {
        padding-top: 0;
    }

    // .best-sellers__title
    &__title {}

    // .best-sellers__description
    &__description {
    }

    // .best-sellers__list
    &__list {
        @media screen and (min-width: $desktop) {
            margin-top: 8em;
        }
    }
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 2em auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;
        margin: 3em auto 0;
    }

    @media screen and (min-width: $desktop) {
        margin: 5em auto 0;
    }

    // .product-list__column
    &__column {
        text-align: center;
        max-width: 30em; // 300px
        margin: 0 0 2em; // 20px

        &:last-child {
            margin: 0;
        }

        @media screen and (min-width: $tablet) {
            margin: 0 5% 0 0;

            &:last-child {
                margin: 0;
            }
        }

        @media screen and (min-width: $l-desktop) {
            margin: 0 8% 0 0;
        }
    }

    // .product-list__item-pic
    &__item-pic {
        width: 100%;

        @media screen and (min-width: $desktop) {
            width: 80%;
        }
    }

    // .product-list__item-name
    &__item-name {
        font-size: 1.8em;
        margin: -0.5em 0 1em;

        @media screen and (min-width: $tablet) {
            font-size: 2.3em; // 23px
            margin: 0 0 0.65em; // 15px
        }

        @media screen and (min-width: $desktop) {
            font-size: 2.8em;
        }
    }

    // .product-list__item-link
    &__item-link {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    // .product-list__item-description
    &__item-description {
        font-size: 1.2em;
        line-height: 1.5;
        margin: 1em 0 0;

        @media screen and (min-width: $tablet) {
            font-size: 1.5em;
        }

        @media screen and (min-width: $desktop) {
            font-size: 1.7em;
        }
    }
}
