<section class="best-sellers">
    <div class="best-sellers__container container">
        <h2 class="best-sellers__title section__title">
            Best Sellers
        </h2>
        <p class="best-sellers__description section__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
        </p>
        <ul class="best-sellers__list product-list">
            <li class="product-list__column">
                <img src="public/img/sushi-6.png" alt="" class="product-list__item-pic">
                <h3 class="product-list__item-name">
                    <a href="#" class="product-list__item-link">Title Here</a>
                </h3>
                <p class="product-list__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="product-list__column">
                <img src="public/img/sushi-3.png" alt="" class="product-list__item-pic">
                <h3 class="product-list__item-name">
                    <a href="#" class="product-list__item-link">Title Here</a>
                </h3>
                <p class="product-list__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="product-list__column">
                <img src="public/img/sushi-3-2.png" alt="" class="product-list__item-pic">
                <h3 class="product-list__item-name">
                    <a href="#" class="product-list__item-link">Title Here</a>
                </h3>
                <p class="product-list__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
        </ul>
    </div>
</section>