<header class="page-header">
    <div class="page-header__row container">
        <a href="#" class="logo">
            <img src="public/img/logo.png">
        </a>

        <div class="page-header__col-right">
            <nav class="page-header__menu menu">
                <button class="page-header__burger menu__icon">
                    <span></span>
                </button>

                <ul class="page-header__menu-list menu__list">
                    <li>
                        <a href="#" class="menu__link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="menu__link">Product</a>
                    </li>
                    <li>
                        <a href="#" class="menu__link">Promo</a>
                    </li>
                    <li>
                        <a href="#" class="menu__link">About</a>
                    </li>
                    <li>
                        <a href="#" class="menu__link">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="page-header__search search">
                <button class="page-header__search-icon search__icon">
                </button>

                <div class="search__container">
                    <form class="search__form">
                        <input type="search" class="search__input">
                        <input type="submit" class="search__submit" value="Search">
                    </form>
                </div>
           </div>
        </div>
    </div>
</header>