<section class="best-tasty">
    <div class="best-tasty__container container">
        <div class="best-tasty__pic">
            <img src="public/img/tasty.png" alt="">
        </div>
        <div class="best-tasty__content">
            <h2 class="best-tasty__title section-title">Best Tasty</h2>
            <p class="best-tasty__description section-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
            </p>
            <a href="#" class="best-tasty__action action-btn action-btn_red">Order Now</a>
        </div>
    </div>
</section>