<section class="statistics">
    <div class="statistics__container container">
        <h2 class="section-title">Statistics</h2>
        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
        
        <ul class="statistics__list">
            <li class="statistics__item">
                <span class="statistics__count">123</span>
                <span class="statistics__label">Store</span>
            </li>
            <li class="statistics__item">
                <span class="statistics__count">100</span>
                <span class="statistics__label">Menu</span>
            </li>
            <li class="statistics__item">
                <span class="statistics__count">200</span>
                <span class="statistics__label">Chef</span>
            </li>
        </ul>
    </div>
</section>