<footer class="page-footer">
    <div class="page-footer__container container">
        <div class="page-footer__column">
            <h3 class="page-footer__title">Title Here</h3>
            <p class="page-footer__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
            </p>

            <ul class="page-footer__social-media social-media">
                <li class="social-media__item">
                    <a href="#" class="social-media__link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="social-media__item">
                    <a href="#" class="social-media__link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social-media__item">
                    <a href="#" class="social-media__link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-media__item">
                    <a href="#" class="social-media__link">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="page-footer__column">
            <ul class="footer-menu">
                <li class="footer-menu__column">
                    <span class="footer-menu__label">
                        About<i class="footer-menu__icon"></i>
                    </span>

                    <ul class="footer-submenu">
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="History">History</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Our Team">Our Team</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Brand Guidelines">Brand Guidelines</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Terms & Condition">Terms & Condition</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Privacy Policy">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-menu__column">
                    <span class="footer-menu__label">
                        Services<i class="footer-menu__icon"></i>
                    </span>
                    <ul class="footer-submenu">
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="How to Order">How to Order</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Our Product">Our Product</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Order Status">Order Status</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Promo">Promo</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Payment Method">Payment Method</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-menu__column">
                    <span class="footer-menu__label">
                        Other<i class="footer-menu__icon"></i>
                    </span>
                    <ul class="footer-submenu">
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Contact Us">Contact Us</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Help">Help</a>
                        </li>
                        <li class="footer-submenu__item">
                            <a href="#" class="footer-submenu__link" title="Privacy">Privacy</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>