* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    font-size: $fontSizeDefault;
}

body {
    font-family: $fontFamiyDefault;
    min-width: $mobile;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    background: $apricot;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content {
    flex: 1 1 auto;
}

.container {
    margin: auto;
    max-width: $contentMaxWidth;
    padding: 6rem $contentSpacing;

    @media screen and (min-width: $tablet) {
        padding: 8rem $contentSpacing;
    }

    @media screen and (min-width: $desktop) {
        padding: 11rem $contentSpacing;
    }

    @media screen and (min-width: $l-desktop) {
        padding: 14rem $contentSpacing;
    }
}

.action-btn {
    display: inline-block;
    padding: 0.75em 2em; // 17px 46px
    color: $apricot;
    background: $white;
    font-size: 2em; // 20px
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3.3em;
    text-align: center;

    @media screen and (min-width: $tablet) {
        font-size: 2.2em; // 22px
    }

    @media screen and (min-width: $desktop) {
        font-size: 2.5em; // 25px
    }

    &:hover {
        background: $apricot;
        color: $white;
    }

    &_red {
        background: $apricot;
        color: $white;

        &:hover {
            background: $flory;
        }
    }
}

// .section-title
.section-title {
    text-transform: uppercase;
    font-size: 3em;
    margin: 0 0 0.8em;

    @media screen and (min-width: $tablet) {
        font-size: 4em;
    }

    @media screen and (min-width: $desktop) {
        font-size: 5em;
    }

    @media screen and (min-width: $l-desktop) {
        font-size: 5.8em;
    }
}

// .section-description
.section-description {
    margin: 1em auto;
    font-size: 1.5em;
    line-height: 1.5;
    max-width: 28em;

    @media screen and (min-width: $tablet) {
        font-size: 1.8em;
        width: 70%;
        max-width: 66em;
    }

    @media screen and (min-width: $desktop) {
        font-size: 2.5em;
    }

    @media screen and (min-width: $l-desktop) {
        font-size: 3em;
    }
}

.form {
    width: 100%;
    font-size: 1.6rem;
    margin: $contentSpacing 0;

    @media screen and (min-width: $tablet){
        font-size: 1.6rem;
    }

    @media screen and (min-width: $desktop){
        font-size: 1.8rem;
    }

    @media screen and (min-width: $l-desktop){
        font-size: 2rem;
    }

    // .form-big
    &-big {
        font-size: 1.6em;

        @media screen and (min-width: $tablet){
            font-size: 2em;
        }

        @media screen and (min-width: $desktop){
            font-size: 2.3em;
        }

        @media screen and (min-width: $l-desktop){
            font-size: 2.5em;
        }
    }

    &__input,
    &__submit {
        font-size: 1em; // 16px
        border-radius: 1.875em; // 30px
        border: none;
        height: 2.5em; // 40px
    }

    &__input {
        outline: none;
        background-color: $sand;

        &:focus {
            box-shadow: 0 0 0.3em $apricot; //5px
        }
    }

    &__submit {
        padding: 0.125em 1.5em 0; //2px 
        background: $apricot;
        text-transform: uppercase;
        color: $white;
        line-height: 1;
        vertical-align: middle;

        &:hover {
            color: $apricot;
            background: $white;
        }
    }

    &_single-field {
        position: relative;

        .form__input {
            padding: 0.3em 7.5em 0.3em 0.9em;
            width: 100%;
        }

        .form__submit {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
