* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    font-size: $fontSizeDefault;
}

body {
    font-family: $fontFamiyDefault;
    min-width: $mobile;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    background-color: $apricot;
    flex: 1 1 auto;
    min-height: 100vh;
}

.container {
    margin: auto;
    max-width: $contentMaxWidth;
    padding: 0 $contentSpacing;
}