$fontFamiyDefault: 'Montserrat', sans-serif;
$fontSizeDefault: 0.625rem; // 10px for easy calculations (10/16)

$contentMaxWidth: 130rem; // 1300px


// Paddings, margins
$contentSpacing: 2rem;


//Colors
$white: #ffffff;
$apricot: #ff7f7f;
$flory: #EE6D6D;
$sand: #f4f4f4;
$dusty-gray: #999999;
$scorpion: #585858;
$black: #111111;


//Hamburger
$burgerLineWidth: 0.4rem;


// Breakpoints, 1rem equals 16px
$mobile: 20rem; // 320px
$l-mobile: 30rem; // 480px, needed only for promo background to adjust the wave
$tablet: 48rem; // 768px
$desktop: 64rem; // 1024px
$l-desktop: 75rem; // 1200px


// page-header
$headerSmallHeight: 9rem;
$headerMediumHeight: 11rem;
$headerLargeHeight: 13rem;

$headerIconFontSizeSmall: 1.2rem;
$headerIconFontSizeMedium: 1.3rem;
$headerIconFontSizeBig: 1.6rem;


// End size depends on the font size
$headerIconWidth: 2.5em;
$headerIconHeight: 2.5em;
$closeIconTop: 1.1em;


// Buttons
$actionBtnHeight: 2.5em;
$actionBtnFontMobile: 2em;
$actionBtnFontTablet: 2.2em;
$actionBtnFontDesktop: 2.5em;


// search
$searchFormHeight: 8rem;
