$fontFamiyDefault: 'Montserrat', sans-serif;
$fontSizeDefault: 0.625em; // 10px for easy calculations


$headerMaxWidth: 1375px;
$contentMaxWidth: 1300px;


// Paddings, margins
$contentSpacing: 2em;


//Colors
$white: #ffffff;
$apricot: #ff7f7f;
$flory: #EE6D6D;
$sand: #f4f4f4;
$dusty-gray: #999999;
$scorpion: #585858;
$black: #000000;


//Hamburger
$burgerLineWidth: 0.3em;


// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$l-desktop: 1200px;


// page-header__container
$headerHeightMobile: 9em;
$headerHeightTablet: 9em;
$headerHeightDesktop: 10em;
$headerHeightLargeDesktop: 13em;


// search
$searchFieldHeight: 3.5rem;
$searchFormHeight: 8rem;
