$fontFamiyDefault: 'Montserrat', sans-serif;
$fontSizeDefault: 0.625rem; // 10px for easy calculations (10/16)

$contentMaxWidth: 130rem; // 1300px


// Paddings, margins
$contentSpacing: 2rem;


//Colors
$white: #ffffff;
$apricot: #ff7f7f;
$flory: #EE6D6D;
$sand: #f4f4f4;
$dusty-gray: #999999;
$scorpion: #585858;
$black: #111111;


//Hamburger
$burgerLineWidth: 0.4rem;


// Breakpoints, 1rem equals 16px
$mobile: 20rem; // 320px
$tablet: 48rem; // 768px
$desktop: 64rem; // 1024px
$l-desktop: 75rem; // 1200px


// page-header
$headerHeightMobile: 9rem;
$headerHeightTablet: 9rem;
$headerHeightDesktop: 10rem;
$headerHeightLargeDesktop: 13rem;

$headerIconFontSizeMobile: 1.2rem;
$headerIconFontSizeTablet: 0.9rem;
$headerIconFontSizeDesktop: 1rem;
$headerIconFontSizeLargeDesktop: 1.2rem;


// End size depends on the font size
$headerIconWidth: 2.5em;
$headerIconHeight: 2.5em;
$closeIconTop: 1.1em;


// search
$searchFormHeight: 8rem;
