<section class="delicious">
    <div class="delicious__bg"></div>
    <div class="delicious__container container">
        <div class="delicious__pic">
            <img src="public/img/salmon-avocado.png" alt="">
        </div>
        <div class="delicious__content">
            <h2 class="delicious__title section-title">Delicious</h2>
            <p class="delicious__description section-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
            </p>
            <a href="#" class="delicious__action action-btn action-btn_red">Order Now</a>
        </div>
    </div>
</section>